@import "colors";
@import "fonts";

/** FOOTER **/

.contenedor-footer{
		width:100%;
		height: 13rem;       
		padding-top: 2rem;
		background: rgb(172,172,172); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(172,172,172,1) 0%, rgba(109,109,109,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,  rgba(172,172,172,1) 0%,rgba(109,109,109,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,  rgba(172,172,172,1) 0%,rgba(109,109,109,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#acacac', endColorstr='#6d6d6d',GradientType=0 ); /* IE6-9 */
		}

	.footer-nav .nav{
		justify-content: center;
		  a{
			color: $Blanco;
			font-size:1.5rem;
			text-decoration: none;
			font-family: $fuentePrincipal;
			}
}
	.copyright{
		color: $Blanco;
		margin-bottom: 1rem;
		 .textos, p{
		 	margin: 1rem 0rem -1rem 0rem;
		 }
	}
.mumbai{
	margin-top: 1rem;
}
.derechos{
	margin: 0rem;
}