@import "colors";
@import "fonts";

/** ANIMACIONES **/
	@keyframes entrada-header{
			0% {transform: translate(0px, -250px);}
			100% {transform: translate(0px, 0px);}
		}
		.social-header, .carrito{
			animation-name: entrada-header;
			animation-timing-function: ease;
			animation-duration: 1s;
		}
@media  (max-width: 767px){
	@keyframes entrada-header-movil{
			0% {transform: translate(1500px, 0px);}
			100% {transform: translate(0px, 0px);}
		}
		.social-header{
			animation-name: entrada-header-movil;
			animation-timing-function:ease;
			animation-duration: 1s;
		} 
}

